<footer class="footer-container">
  <a href="/datenschutz" class="datenschutz-link">Datenschutzerklärung</a> 
    <p class="mt-1">Copyright © <%= new Date().getFullYear(); %> - <a href="https://www.natgian.com/" target="_blank">natgian.com</a></p>
</footer>