<footer class="footer-container">
  <div class="footer-links-container">
  <a href="/kontakt" class="footer-link">Kontakt</a> 
  <a href="/datenschutz" class="footer-link">Datenschutzerklärung</a> 
</div>
    <p class="mt-1">Copyright © <%= new Date().getFullYear(); %> - <a href="https://www.natgian.com/de" target="_blank">natgian.com</a></p>
</footer>