<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Kalender</title>
</head>

<body>

  <div class="main-layout">
    <%- include("../partials/header") %>
    <main>
      <div class="container">

        <h1 class="title">Kalender</h1>

         <!-- Add new calendar event button -->
         <button class="round-btn mb-05" id="add-button"><svg xmlns="http://www.w3.org/2000/svg" width="30"
          height="30" viewBox="0 0 20 20">
          <path fill="currentColor" d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
        </svg></button>

        <div class="calendar-wrapper medium-dark-wrapper">
          <div id="calendar-header" class="bold">
            <!-- back button -->
            <button id="backwardMonthButton">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.42Z" />
              </svg>
            </button>
            <!-- month & year display -->
            <div id="monthDisplay"></div>
            <!-- forward button -->
            <button id="forwardMonthButton">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z" />
              </svg>
            </button>
          </div>

          <div id="calendar-weekdays">
            <div>Mo</div>
            <div>Di</div>
            <div>Mi</div>
            <div>Do</div>
            <div>Fr</div>
            <div>Sa</div>
            <div>So</div>
          </div>

          <div id="calendar"></div>

        </div>

        <div id="events-container" class="no-bg-wrapper"></div>

    </main>
    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/kalender.js"></script>
</body>

</html>