<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Neuen Kalendereintrag erstellen</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>
    
 
    <main>
      <!-- Error Alert -->
      <div class="container">
        <% if(error && error.length) {%>
          <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">
          <h1 class="subtitle">Eintrag erstellen</h1>

          <form action="/kalender" method="POST" autocomplete="off">

            <label for="event-title">
              <input type="text" name="title" id="event-title" placeholder="Titel..." class="input" autofocus required>
            </label>

            <label for="event-date">
              <input type="date" name="date" id="event-date" class="input" required>
            </label>

            <label for="startEventTime">
              <input type="time" name="startEventTime" id="startEventTime" class="input">
            </label>

            <label for="endEventTime">
              <input type="time" name="endEventTime" id="endEventTime" class="input">
            </label>

            <fieldset class="color-options-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" class="inline-block-svg list-icon" id="list-icon">
                <path fill="#ededed"
                  d="M9 10v2H7v-2h2m4 0v2h-2v-2h2m4 0v2h-2v-2h2m2-7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h1V1h2v2h8V1h2v2h1m0 16V8H5v11h14M9 14v2H7v-2h2m4 0v2h-2v-2h2m4 0v2h-2v-2h2Z" />
              </svg>
              <legend class="mb-1 text-center">Wähle eine Farbe:</legend>
              <div class="color-options-color-wrapper">
                <label class="color-option" >
                  <input type="radio" name="color" value="#F9F871" hidden>
                  <div class="color-option comp-color-one"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#fda76d" hidden>
                  <div class="color-option comp-color-two"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#6ae79c" hidden>
                  <div class="color-option comp-color-three"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#3a9ddf" hidden>
                  <div class="color-option comp-color-four"></div>
                </label>
              </div>
            </fieldset>

            <button class="rectangle-btn">Speichern</button>
            <a href="/kalender" class="rectangle-secondary-btn width-100">Abbrechen</a>
          </form>
        </div>

      </div>
    </main>

    <%- include("../partials/footer") %>
  </div>

  <script src="../JS/updateSVGColor.js"></script>
  
</body>

</html>