/*------ */
/* RESET */
/*------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------------*/
/* CUSTOM PROPERTIES (Variables) */
/*-------------------------------*/
:root {
  /* COLORS: */
  /* Surfaces */
  --dark-color: #121212;
  --medium-dark-color: #2A2A2A;
  --light-dark-color: #4a4a4a;
  --light-color: #777777;
  --error-message: #e76e7a;
  /* Primary */
  --primary-color: #03dac5;
  --primary-color-hover: rgb(3, 218, 197, 0.6);
  --primary-color-disabled: rgb(3, 218, 197, 0.3);
  /* Complementary */
  --comp-color-one: #F9F871;
  --comp-color-two: #fda76d;
  --comp-color-three: #6ae79c;
  --comp-color-four: #3a9ddf;
  /* Text */
  --main-text-color: #dbdbdb;
  --muted-text-color: #999999;
  --title-text-color: #f8f8f8;
  --subtitle-text-color: #ededed;
  --navigation-color: #afafaf;

  /* FONTS: */
  --main-font: 'Montserrat', sans-serif;
}

/*--------*/
/* GLOBAL */
/*--------*/

body {
  font-family: var(--main-font);
  font-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--dark-color);
  color: var(--main-text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(94, 193, 180, 0.7);
}

li {
  list-style: none;
}

/*--------*/
/* LAYOUT */
/*--------*/

.main-layout {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 1.25em auto;
  border-radius: 15px;
  padding: 2em 1.25em;
}

.no-bg-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 1.25em auto;
}

.medium-dark-wrapper {
  background-color: var(--medium-dark-color);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 1em 0;

}

.link-svg {
  display: inline-block;
  vertical-align: middle;
}

.inline-block-svg {
  display: inline-block;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.error-message {
  background-color: var(--error-message);
  color: var(--dark-color);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
}

/*----------*/
/* HEADINGS */
/*----------*/

.title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  color: var(--title-text-color);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  color: var(--subtitle-text-color);
}

.subtitle-specific {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  color: var(--subtitle-text-color);
}
.subtitle-specific-notcentered {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5em 0;
  color: var(--subtitle-text-color);
}

.user {
  font-size: 1.25rem;
  font-weight: bold;
}

/*--------*/
/* ALERTS */
/*--------*/

.alert {
  display: flex;
  justify-content: center;
  padding: 1em;
  height: fit-content;
  
}

.alert-error {
  background-color: var(--error-message);
  color: var(--dark-color);
}

/*-------------------------*/
/* BUTTONS, LINKS & INPUTS */
/*-------------------------*/

.round-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0.875em;
}

.delete-edit-btn {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.round-btn:hover,
.round-btn:focus,
.delete-edit-btn:hover,
.delete-edit-btn:focus {
  color: var(--primary-color-hover);
}

.rectangle-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: bold;
  cursor: pointer;
  padding: 0.625em;
  margin-top: 1em;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.rectangle-btn:hover,
.rectangle-btn:focus {
  background-color: var(--primary-color-hover);
  color: var(--medium-dark-color);
  transform: scale(1.02);
}

.rectangle-secondary-btn {
  width: 100%;
  background-color: var(--dark-color);
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  padding: 0.625em;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}

.rectangle-secondary-btn:hover,
.rectangle-secondary-btn:focus {
  background-color: var(--error-message);
  color: var(--dark-color);
  transform: scale(1.02); 
  border-color: var(--dark-color);
}

button#toggle-password {
  position: absolute;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--dark-color);
  bottom: 10px;
  right: 12px;
}

.page-navigation-link {
  display: inline-block;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: var(--navigation-color);
  font-size: 1rem;
  padding: 0.5em 1em;
  margin-top: 0.5em;
}

.page-navigation-link:hover,
.page-navigation-link:focus {
  color: var(--main-text-color);
}

.active-page {
  border-radius: 5px;
  border: solid 1px var(--main-text-color);
  padding: 0.5em 1em;
}

/* Style for the colored squares */
.color-option {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.color-options-color-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Style for the selected color option */
.color-option input[type="radio"]:checked+div {
  border: 3px solid var(--title-text-color);
}

/* CSS classes for different colors */
.comp-color-one {
  background-color: var(--comp-color-one);
}

.comp-color-two {
  background-color: var(--comp-color-two);
}

.comp-color-three {
  background-color: var(--comp-color-three);
}

.comp-color-four {
  background-color: var(--comp-color-four);
}

.input {
  width: 100%;
  border-radius: 10px;
  padding: 0.625em 0.875em;
  margin: 0.5em 0;
  color: var(--dark-color);
}

.textarea {
  white-space: pre-line;
}

.search-input {
  width: 100%;
  display: block;
  margin: 1em auto;
  border-radius: 10px;
  padding: 0.625em 0.875em;  
  color: var(--dark-color);
}

.note-link {
  color: var(--main-color);
  transition: transform 0.2s ease;
}
.note-link:hover,
.note-link:focus {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--main-text-color);
  transform: scale(1.02);
}

/*---------*/
/* UTILITY */
/*---------*/

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}

.bold {
  font-weight: bold;
}

.width-100 {
  display: block;
}

/*------------*/
/* NAVIGATION */
/*------------*/

.main-header {
  border-bottom: 1px solid var(--medium-dark-color);
  box-shadow: 0 1px 30px -5px var(--navigation-color);
  padding: 1em 0;
  margin-bottom: 3.5em;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  justify-self: flex-start;
  align-items: center;
  color: var(--navigation-color);
}

.inline-block-svg {
  display: inline;
  vertical-align: middle;
}

.main-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--navigation-color);
  font-size: 0.625rem;
  margin: 0.5em 0;
}

.main-nav-link a {
  color: var(--navigation-color);
  padding-bottom: 0.5em;
}

.main-nav-link a:hover,
.main-nav-link a:focus {
  color: var(--main-text-color);
}

/*-----------------*/
/* LOGIN & SIGN UP */
/*-----------------*/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-dark-color);
  width: 90%;
  max-width: 500px;
  margin: 2em auto 0 auto;
  padding: 1em;
  border-radius: 15px;
}

.form-container a {
  padding-bottom: 0.5em;
  text-align: center;
}

.user-svg {
  color: var(--primary-color);
  padding: 0.5em 0;
}

.input-container {
  position: relative;
  margin: 1.25em 0;
}

.form-label {
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
  padding-bottom: 0.8em;
}

.login-form-wrapper {
  width: 100%;
  padding: 0 0.5em;
  text-align: center;
}

.login-input {
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.625em 0.625em 0.625em 2.8em;
}

.input-container input[id="password"] {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M12 17a2 2 0 0 1-2-2c0-1.11.89-2 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2m6 3V10H6v10h12m0-12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10c0-1.11.89-2 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2h1m-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3Z"%2F%3E%3C%2Fsvg%3E');
  background-position: 12px 10px;
  background-repeat: no-repeat;
}

.input-container input[id="email"] {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10Z"%2F%3E%3C%2Fsvg%3E');
  background-position: 12px 10px;
  background-repeat: no-repeat;
}

.input-container input[id="username"] {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2M7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.5.88 4.93 1.78A7.893 7.893 0 0 1 12 20c-1.86 0-3.57-.64-4.93-1.72m11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33A7.928 7.928 0 0 1 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.5-1.64 4.83M12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6m0 5a1.5 1.5 0 0 1-1.5-1.5A1.5 1.5 0 0 1 12 8a1.5 1.5 0 0 1 1.5 1.5A1.5 1.5 0 0 1 12 11Z"%2F%3E%3C%2Fsvg%3E');
  background-position: 12px 10px;
  background-repeat: no-repeat;
}

/* input[type=email]:not(:placeholder-shown):invalid {
  color: red;
} */

/*---------*/
/* PROFILE */
/*---------*/

.profile-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*------*/
/* HOME */
/*------*/

.home-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em auto;
  justify-content: center;
  align-items: center;
}

.home-btn {
  min-width: 7rem;
  min-height: 7rem;
  background-color: var(--medium-dark-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.home-btn svg {
  color: var(--primary-color);
}

.home-btn:hover,
.home-btn:focus {
  opacity: 0.7;
  border: 2px solid var(--primary-color);
  transform: scale(1.02);
}

.home-btn svg {
  width: 40px;
  height: 40px;
}

/*-------*/
/* TIMER */
/*-------*/

.timer-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  background-color: var(--medium-dark-color);
  font-size: 1.125rem;
}

.base-timer {
  position: relative;
  width: 220px;
  height: 220px;
}

.base-timer-svg {
  transform: scaleX(-1);
  color: var(--primary-color);
  filter: drop-shadow(3px 10px 10px rgb(0 0 0 / 0.5));
}

.base-timer-circle {
  fill: none;
  stroke: none;
}

.base-timer-path-elapsed {
  stroke-width: 5px;
  stroke: grey;
}

.base-timer-path-remaining {
  stroke-width: 5px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer-path-remaining.green {
  color: var(--primary-color);
}

.base-timer-path-remaining.orange {
  color: orange;
}

.base-timer-path-remaining.red {
  color: red;
}

.base-timer-indicator {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.timer-buttons {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  gap: 0.7em;
}

.timer-btn {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: bold;
  cursor: pointer;
  padding: 0.625em 1em;
  border: none;
  border-radius: 5px;
}

.timer-btn:hover {
  background-color: var(--primary-color-hover);
}

.timer-btn svg {
  color: var(--dark-color);
}

.timer-btn:last-child {
  margin-right: 0;
}

.timer-btn:disabled {
  background-color: var(--primary-color-disabled);
}

#start-button {
  font-size: 0.9rem;
}

.timer-state {
  color: var(--title-text-color);
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.timer-settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.duration-control-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.duration-buttons-container {
  display: flex;
  gap: 0.2em;
  padding-top: 0.5em;
}

.settings-btn {
  background-color: var(--medium-dark-color);
  color: var(--primary-color);
  border: none;
}

.settings-btn:disabled {
  color: var(--primary-color-disabled);
}

/*----------*/
/* KALENDER */
/*----------*/

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 1.25em auto;
  border-radius: 15px;
  padding: 2em 1em;
}

#calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

#backwardMonthButton,
#forwardMonthButton {
  color: var(--main-text-color);
  background-color: var(--medium-dark-color);
  border: none;
  cursor: pointer;
}

#calendar {
  padding-top: 0.5em;
}

#calendar-weekdays,
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

#calendar-weekdays {
  font-size: 0.75rem;
  color: var(--muted-text-color);
}

#currentDay {
  background-color: var(--light-dark-color);
  border-radius: 5px;
}

.daySquare {
  width: 100%;
  height: 4em;
  padding-top: 0.8em;
  text-align: center;
  color: var(--main-text-color);
  font-size: 0.75rem;
  border-bottom: 1px solid var(--light-color);
  cursor: pointer;
}

.daySquare:hover,
.daySquare:focus {
  border: 2px solid var(--primary-color) !important;
  /* background-color: var(--primary-color) !important; */
  /* color: var(--dark-color) !important; */
  border-radius: 5px;
}

.blankSquare {
  cursor: default !important;
  background-color: var(--medium-dark-color) !important;
}

.event-indicator {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--primary-color); 
  border-radius: 50%;
  padding-top: 0.5em;
  margin: 0 auto;
}

.event-item {
  display: flex;
  justify-content: space-between;
  color: var(--dark-color);
  border-radius: 5px;
  margin: 0.5em;
  padding: 1em;
}

/*--------*/
/* LISTEN */
/*--------*/

.listen {
  display: flex;
  flex-direction: row;
  gap: 0.875em;
}

.items-ul {
  padding: 1em 0 1em 0;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border-radius: 15px;
  background-color: var(--medium-dark-color);
}

.listen-name {
  list-style: none;
  gap: 1em;
  cursor: pointer;
  border: none;
}

.listen-name a {
  color: var(--main-text-color);
  font-size: 0.875rem;
}

.listen-name a:hover,
.listen-name a:focus {
  color: var(--primary-color);
}

.listen-buttons-wrapper {
  display: flex;
  gap: 0.75em;
}

.listen-name svg {
  margin: 0 0.5em;
  display: inline-block;
  vertical-align: bottom;
}

.listen-item {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-between;
  list-style: none;
  padding: 1.25em 0;
  border-bottom: 1px solid var(--light-color);
}

.color-options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25em 0;
  border: none;
}

.list-icon {
  margin-bottom: 1.5em;
}

.new-item-container {
  display: none;
}

/*---------*/
/* NOTIZEN */
/*---------*/

.notes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.note-wrapper {
  background-color: var(--medium-dark-color);
  border-radius: 15px;
  padding: 2em 1.25em;
  overflow-wrap: break-word;

}

.show-note-wrapper {
  width: 100%;
  background-color: var(--medium-dark-color);
  border-radius: 15px;
  padding: 2em 1.25em;
}

/*--------*/
/* BUDGET */
/*--------*/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.75rem;
}

th, td {
  padding: 0.5em;
}

th {
  margin-bottom: 1em;
}

.expense-delete-form {
  display: inline;
  vertical-align:top;
}

.budget-table td {
  padding-top: 0;
}

.positive-remaining-budget {
  color: var(--comp-color-three);
}
.negative-remaining-budget {
  color: var(--error-message);
}

.table-border {
  border-bottom: 1px solid var(--light-color);
}

.table-align-top {
  vertical-align: baseline;
}

.table-align-left {
  text-align: left;
}

.table-align-right {
  text-align: right;
}

.expense-date {
  font-size: 0.625rem;
  color: var(--muted-text-color);
}

/*--------*/
/* FOOTER */
/*--------*/

.footer-container {
  width: 100%;
  font-size: 0.875rem;
  text-align: center;
  padding: 4em 0 2em 0;
  color: var(--muted-text-color);
}

/*---------------*/
/* MEDIA QUERIES */
/*---------------*/

@media only screen and (max-width:374px) {
  .note-wrapper {
    max-width: 300px;
    max-height: 250px;
  }
}

@media only screen and (min-width:400px) {
  .home-btn {
    width: 8rem;
    height: 8rem;
  }
}

@media only screen and (min-width:640px) {
  .home-btn {
    width: 14rem;
    height: 14rem;
  }

  .home-container {
    gap: 4em;
  }

  .home-btn svg {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width:768px) {
  .notes-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .note-wrapper {
    width: 300px;
    height: 300px;
  }
  .search-input {
    max-width: 50%;
  }
}