<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MeinOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://meinorganizer.app">
  <meta property="og:image" content="https://meinorganizer.app/images/MeinOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://meinorganizer.app">
  <meta name="application-name" content="MeinOrganizer">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Neues Projekt erstellen</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>


    <main>
      <div class="container">

        <!-- flash message -->
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } else if(success && success.length){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">
          <h1 class="subtitle">Projekt erstellen</h1>

          <form action="/projekte" method="POST" class="mt-2">

            <label for="projectname" class="bold">Projektname:</label>
            <input type="text" name="name" id="projectname" placeholder="Neuer Projektname..." class="card-input mb-2"
              autofocus required>


            <label for="projectdescription" class="bold">Projektnotizen (optional):</label>
            <textarea name="description" id="projectdescription" cols="50" rows="5" placeholder="Text hier eingeben..."
              class="card-input textarea"></textarea>


            <fieldset class="color-options-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                class="inline-block-svg list-icon" id="list-icon">
                <path fill="#F9F871"
                  d="M10 4H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-8l-2-2Z">
                </path>
              </svg>
              <legend class="mb-1 text-center">Wähle eine Farbe:</legend>
              <div class="color-options-color-wrapper">
                <label class="color-option">
                  <input type="radio" name="color" value="#F9F871" checked hidden>
                  <div class="color-option comp-color-one"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#fda76d" hidden>
                  <div class="color-option comp-color-two"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#6ae79c" hidden>
                  <div class="color-option comp-color-three"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#3a9ddf" hidden>
                  <div class="color-option comp-color-four"></div>
                </label>
              </div>
            </fieldset>

            <button class="rectangle-btn mb-1">Speichern</button>
            <a href="/projekte" class="rectangle-secondary-btn width-100">Abbrechen</a>
          </form>
        </div>

      </div>
    </main>

    <%- include("../partials/footer") %>
  </div>

  <script src="../JS/updateSVGColor.js"></script>

</body>

</html>