<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MeinOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://meinorganizer.app">
  <meta property="og:image" content="https://meinorganizer.app/images/MeinOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://meinorganizer.app">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="MeinOrganizer">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Passwort vergessen - E-Mail versendet</title>
</head>

<body>

  <div class="main-layout-center">
    <main>

      <!-- flash message -->
      <% if(error && error.length) {%>
      <div class="alert alert-error" role="alert">
        <%= error %>
      </div>
      <% } else if(success && success.length){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>

      <div class="form-container">

        <svg class="user-svg" xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="0 0 24 24">
          <path fill="currentColor" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7Z" />
        </svg>

        <div class="reset-password-wrapper">
          <h1 class="subtitle">Nachricht versendet</h1>
          <p class="mt-1 mb-3 text-center">Vielen Dank für deine Nachricht.
            <br>
            Ich werde mich so schnell wie möglich bei dir melden.</p>
          <a href="/home" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M19 3H5c-1.11 0-2 .89-2 2v4h2V5h14v14H5v-4H3v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-8.92 12.58L11.5 17l5-5l-5-5l-1.42 1.41L12.67 11H3v2h9.67l-2.59 2.58Z" />
            </svg>Home
          </a>
        </div>

    </main>
    <%- include("../partials/footer") %>
  </div>


</body>

</html>