<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Kontaktformular</title>
</head>

<body>

  <div class="loader loader-hidden"></div>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>

      <!-- flash message -->
      <% if(error && error.length) {%>
      <div class="alert alert-error" role="alert">
        <%= error %>
      </div>
      <% } else if(success && success.length){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>

      <div class="form-container">
        <h1 class="title">Kontakt</h1>


        <div class="login-form-wrapper mt-1">

          <p>Hast du Fragen oder ein sonstiges Anliegen?
            <br>
            Schreib mir eine Nachricht:
          </p>
          <form action="/kontakt" method="POST">

            <fieldset class="input-container">
              <input type="text" id="contact-name" name="name" autocomplete="name" required class="contact-input">
              <label for="name" class="contact-label">Name</label>
            </fieldset>

            <fieldset class="input-container">
              <input type="email" id="contact-email" name="email" autocomplete="email" required class="contact-input">
              <label for="email" class="contact-label">E-Mail</label>
            </fieldset>

            <fieldset class="input-container">
              <textarea name="message" id="message" cols="50" rows="10" required placeholder="Hier Nachricht eingeben..."
                class="contact-input textarea"></textarea>
              <label for="message" class="contact-label">Nachricht</label>
            </fieldset>

            <button type="submit" class="rectangle-btn-card">Nachricht senden</button>
          </form>
        </div>

      </div>

    </main>

    <%- include("../partials/footer") %>

  </div>

  <script>
    function displayLoader() {
      const loader = document.querySelector(".loader");
      loader.classList.remove("loader-hidden");
    }
  </script>
</body>

</html>