<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Datenschutzerklärung</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <div class="container">
      <div class="wrapper">

        <h1 class="datenschutz-h1">Datenschutz&shy;erkl&auml;rung</h1>

        <h2 class="datenschutz-h2">1. Datenschutz auf einen Blick</h2>

        <h3 class="datenschutz-h3">Allgemeine Hinweise</h3> 
        <p>Die folgenden Hinweise geben einen einfachen &Uuml;berblick dar&uuml;ber, was mit deinen personenbezogenen Daten passiert, wenn du diese Website besuchst und nutzt. Personenbezogene Daten sind alle Daten, mit denen du pers&ouml;nlich identifiziert werden kannst. Ausf&uuml;hrliche Informationen zum Thema Datenschutz entnimmst du in der unter diesem Text aufgef&uuml;hrten Datenschutzerkl&auml;rung.</p>
        <h3 class="datenschutz-h3">Datenerfassung in dieser Website</h3> 
        <h4 class="datenschutz-h4">Wer ist verantwortlich f&uuml;r die Datenerfassung auf dieser Website?</h4> 
        <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten kannst du dem Abschnitt &bdquo;Hinweis zur Verantwortlichen Stelle&ldquo; in dieser Datenschutzerkl&auml;rung entnehmen.</p>
        <h4 class="datenschutz-h4">Wie werden deine Daten erfasst?</h4>
        <p>Deine Daten werden zum einen dadurch erhoben, dass du beim Registrieren deine E-Mail Adresse eingibst.</p>
        <p>Andere Daten werden automatisch oder nach deiner Einwilligung beim Besuch der Website durch die IT-Systeme erfasst. Das sind vor allem technische Daten (z.&nbsp;B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald du diese Website besuchst.</p>
        <h4 class="datenschutz-h4">Wof&uuml;r werden die Daten genutzt?</h4> 
        <p>Die Daten werden für die Authentifizierung des Benutzers verwendet und ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.</p> 
        <h4 class="datenschutz-h4">Welche Rechte hast du bez&uuml;glich deiner Daten?</h4> 
        <p>Du hast jederzeit das Recht, unentgeltlich Auskunft &uuml;ber Herkunft, Empf&auml;nger und Zweck deiner gespeicherten personenbezogenen Daten zu erhalten. Du hast au&szlig;erdem ein Recht, die Berichtigung oder L&ouml;schung dieser Daten zu verlangen. Wenn du eine Einwilligung zur Datenverarbeitung erteilt hast, kannst du diese Einwilligung jederzeit f&uuml;r die Zukunft widerrufen. Au&szlig;erdem hast du das Recht, unter bestimmten Umst&auml;nden die Einschr&auml;nkung der Verarbeitung deiner personenbezogenen Daten zu verlangen. Des Weiteren steht dir ein Beschwerderecht bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde zu.</p>

        <h2 class="datenschutz-h2">2. Hosting</h2>
        <h3 class="datenschutz-h3">Externes Hosting</h3> 
        <p>Diese Webanwendung wird extern gehostet. Die personenbezogenen Daten, die auf dieser Webanwendung erfasst werden, werden auf den Servern des Hosters gespeichert. Hierbei kann es sich v.&nbsp;a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen, Websitezugriffe und sonstige Daten, die &uuml;ber eine Website generiert werden, handeln.</p> 
        <p>Das externe Hosting erfolgt zum Zwecke der Vertragserf&uuml;llung gegen&uuml;ber unseren potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO). Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschlie&szlig;lich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO und &sect; 25 Abs. 1 TTDSG, soweit die Einwilligung die Speicherung von Cookies oder den Zugriff auf Informationen im Endger&auml;t des Nutzers (z.&nbsp;B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die Einwilligung ist jederzeit widerrufbar.</p> <p>Der Hoster wird deine Daten nur insoweit verarbeiten, wie dies zur Erf&uuml;llung seiner Leistungspflichten erforderlich ist.</p> 

        <h2 class="datenschutz-h2">3. Allgemeine Hinweise und Pflicht&shy;informationen</h2>
        <h3 class="datenschutz-h3">Datenschutz</h3> 
        <p>Der Schutz deiner pers&ouml;nlichen Daten wird sehr ernst genommen. Deine personenbezogenen Daten werden vertraulich und entsprechend den gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerkl&auml;rung behandelt.</p>
        <p>Wenn du diese Webandwendung benutzt, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen du pers&ouml;nlich identifiziert werden kannst. Die vorliegende Datenschutzerkl&auml;rung erl&auml;utert, welche Daten erhoben werden und wof&uuml;r diese genutzt werden. Sie erl&auml;utert auch, wie und zu welchem Zweck das geschieht.</p>
        <p>Es wird darauf hingewiesen, dass die Daten&uuml;bertragung im Internet (z.&nbsp;B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p>
        <h3 class="datenschutz-h3">Hinweis zur verantwortlichen Stelle</h3>
        <p>Die verantwortliche Stelle f&uuml;r die Datenverarbeitung auf dieser Website ist:</p>
        <p>Nathalie Giancaspro<br/>
        Heinrichstrasse 10<br/>
        8304 Wallisellen<br/>
        Schweiz</p>
        
        <p>E-Mail: <a href="mailto:info@natgian.com">info@natgian.com</a></p>
         <p>Verantwortliche Stelle ist die nat&uuml;rliche oder juristische Person, die allein oder gemeinsam mit anderen &uuml;ber die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.&nbsp;B. Namen, E-Mail-Adressen o. &Auml;.) entscheidet.</p>
        
        <h3 class="datenschutz-h3">Speicherdauer</h3>
        <p>Soweit innerhalb dieser Datenschutzerkl&auml;rung keine speziellere Speicherdauer genannt wurde, verbleiben deine personenbezogenen Daten gespeichert, bis der Zweck f&uuml;r die Datenverarbeitung entf&auml;llt. Wenn du ein berechtigtes L&ouml;schersuchen geltend machst oder eine Einwilligung zur Datenverarbeitung widerrufst, werden deine Daten gel&ouml;scht.</p>
        
        <h3 class="datenschutz-h3">Auskunft, Berichtigung und L&ouml;schung</h3>
        <p>Du hast im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft &uuml;ber Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empf&auml;nger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder L&ouml;schung dieser Daten.</p>
        
        <h3 class="datenschutz-h3">SSL- bzw. TLS-Verschl&uuml;sselung</h3>
        <p>Diese Seite nutzt aus Sicherheitsgr&uuml;nden und zum Schutz der &Uuml;bertragung vertraulicher Inhalte, die du sendest, eine SSL- bzw. TLS-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennst du daran, dass die Adresszeile des Browsers von &bdquo;http://&ldquo; auf &bdquo;https://&ldquo; wechselt und an dem Schloss-Symbol in deiner Browserzeile.</p>
        <p>Wenn die SSL- bzw. TLS-Verschl&uuml;sselung aktiviert ist, k&ouml;nnen die Daten, die du &uuml;bermittelst, nicht von Dritten mitgelesen werden.</p>

        <h2 class="datenschutz-h2">4. Plugins und Tools</h2>
        <h3 class="datenschutz-h3">Google Fonts</h3>
        <p>Diese Webanwendung nutzt zur einheitlichen Darstellung von Schriftarten so genannte Google Fonts, die von Google bereitgestellt werden. Beim Aufruf einer Seite l&auml;dt dein Browser die ben&ouml;tigten Fonts in deinen Browsercache, um Texte und Schriftarten korrekt anzuzeigen.</p> <p>Zu diesem Zweck muss der von dir verwendete Browser Verbindung zu den Servern von Google aufnehmen. Hierdurch erlangt Google Kenntnis dar&uuml;ber, dass &uuml;ber deine IP-Adresse diese Website aufgerufen wurde. Die Nutzung von Google Fonts erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der einheitlichen Darstellung des Schriftbildes auf seiner Website. Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschlie&szlig;lich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO und &sect; 25 Abs. 1 TTDSG, soweit die Einwilligung die Speicherung von Cookies oder den Zugriff auf Informationen im Endger&auml;t des Nutzers (z.&nbsp;B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die Einwilligung ist jederzeit widerrufbar.</p>
        <p>Wenn dein Browser Google Fonts nicht unterst&uuml;tzt, wird eine Standardschrift von deinem Computer genutzt.</p>
        <p>Weitere Informationen zu Google Fonts findest du unter <a href="https://developers.google.com/fonts/faq" target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> und in der Datenschutzerkl&auml;rung von Google: <a href="https://policies.google.com/privacy?hl=de" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.</p>
        <p>Das Unternehmen verf&uuml;gt &uuml;ber eine Zertifizierung nach dem &bdquo;EU-US Data Privacy Framework&ldquo; (DPF). Der DPF ist ein &Uuml;bereinkommen zwischen der Europ&auml;ischen Union und den USA, der die Einhaltung europ&auml;ischer Datenschutzstandards bei Datenverarbeitungen in den USA gew&auml;hrleisten soll. Jedes nach dem DPF zertifizierte Unternehmen verpflichtet sich, diese Datenschutzstandards einzuhalten. Weitere Informationen hierzu erhalten Sie vom Anbieter unter folgendem Link: <a href="https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt000000001L5AAI&status=Active" target="_blank" rel="noopener noreferrer">https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt000000001L5AAI&status=Active</a></p>

        <h2 class="datenschutz-h2">5. Schlussbestimmungen</h2>
        <p>Dieese Datenschutzerklärung kann jederzeit angepasst und ergänzt werden. Über solche Anpassungen und Ergänzungen wird in geeigneter Form informiert, insbesondere durch Veröffentlichung der jeweils aktuellen Datenschutzerklärung auf der Website.</p>


      </div>
    </div>

    <%- include("../partials/footer") %>
  </div>
</body>

</html>