<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>FEHLER</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <div class="container">
      <h1>FEHLER - Etwas ist schiefgelaufen...</h1>
      <br>
      <p><%=err.message%></p>

    </div>
    <%- include("../partials/footer") %>
  </div>
</body>

</html>




