<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MyOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta property="og:image" content="https://myorganizer-05d65e8dd322.herokuapp.com/images/MyOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta name="application-name" content="MyOrganizer">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Timer</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">

        <h1 class="title">Fokus-Timer</h1>

        <div class="timer-container timer-wrapper">

          <!-- TIMER -->
          <section class="base-timer">
            <svg class="base-timer-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <g class="base-timer-circle">
                <circle class="base-timer-path-elapsed" cx="50" cy="50" r="45"></circle>
                <path id="base-timer-path-remaining" stroke-dasharray="283" class="base-timer-path-remaining"
                  d="M 50, 50 m -45, 0 a 45,45 0 1,0 90,0 a 45,45 0 1,0 -90,0"></path>
              </g>
            </svg>
            <span id="base-timer-indicator" class="base-timer-indicator">25:00</span>
          </section>

          <section class="timer-state">
            <span id="timer-state">FOKUS</span>
            <br>
            <span id="current-cycle"></span>
          </section>

          <!-- BUTTONS -->
          <section class="timer-buttons">
            <button id="start-button" class="timer-btn">Starten</button>
            <button id="pause-button" class="timer-btn" aria-label="Pause">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M14 19h4V5h-4M6 19h4V5H6v14Z" />
              </svg>
            </button>
            <button id="reset-button" class="timer-btn" aria-label="Reset Timer">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M12 4c2.1 0 4.1.8 5.6 2.3c3.1 3.1 3.1 8.2 0 11.3c-1.8 1.9-4.3 2.6-6.7 2.3l.5-2c1.7.2 3.5-.4 4.8-1.7c2.3-2.3 2.3-6.1 0-8.5C15.1 6.6 13.5 6 12 6v4.6l-5-5l5-5V4M6.3 17.6C3.7 15 3.3 11 5.1 7.9l1.5 1.5c-1.1 2.2-.7 5 1.2 6.8c.5.5 1.1.9 1.8 1.2l-.6 2c-1-.4-1.9-1-2.7-1.8Z" />
              </svg>
            </button>
          </section>

          <!-- SETTINGS -->
          <section class="timer-settings">
            <div class="duration-control-container">
              <span>Fokus:&nbsp;</span>
              <div class="duration-buttons-container">
                <button id="timer-minus" class="settings-btn" aria-label="Fokus-Zeit Plus">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M17 13H7v-2h10m-5-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z" />
                  </svg>
                </button>
                &nbsp;
                <span id="timer-duration">25</span>
                &nbsp;
                <button id="timer-plus" class="settings-btn" aria-label="Fokus-Zeit Minus">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M17 13h-4v4h-2v-4H7v-2h4V7h2v4h4m-5-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z" />
                  </svg>
                </button>
              </div>
            </div>

            <div class="duration-control-container">
              <span>Pause:&nbsp;</span>
              <div class="duration-buttons-container">
                <button id="break-minus" class="settings-btn" aria-label="Pausen-Zeit Minus">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M17 13H7v-2h10m-5-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z" />
                  </svg>
                </button>
                &nbsp;
                <span id="break-duration">5</span>
                &nbsp;
                <button id="break-plus" class="settings-btn" aria-label="Pausen-Zeit Plus">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M17 13h-4v4h-2v-4H7v-2h4V7h2v4h4m-5-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z" />
                  </svg>
                </button>
              </div>
            </div>

          </section>
        </div>
        
          <!-- INFORMATION -->
        <section class="timer-explainer">
          <details class="timer-explainer-details">
            <summary class="bold"> Wie funktioniert der Timer?</summary>
            <p class="mt-1">Der Timer besteht aus 3 Fokus-Zyklen mit jeweils einer Pause zwischen jedem Zyklus.</p>
            <p class="mt-1">Unter "Fokus" kann die Fokuszeit bestimmt werden und unter "Pause" die Länge der jeweiligen Pausen zwischen jedem Zyklus.</p>
          </details>
        </section>
        
    </main>

    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/timer.js"></script>
</body>

</html>