<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MyOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta property="og:image" content="https://myorganizer-05d65e8dd322.herokuapp.com/images/MyOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta name="application-name" content="MyOrganizer">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Passwort vergessen</title>
</head>

<body>

  <div class="loader loader-hidden"></div>

  <div class="main-layout-center">
    <main>

      <!-- flash message -->
      <% if(error && error.length) {%>
      <div class="alert alert-error" role="alert">
        <%= error %>
      </div>
      <% } else if(success && success.length){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>

      <div class="form-container">

        <svg class="user-svg" xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M12 19.2c-2.5 0-4.71-1.28-6-3.2c.03-2 4-3.1 6-3.1s5.97 1.1 6 3.1a7.232 7.232 0 0 1-6 3.2M12 5a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-3A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10c0-5.53-4.5-10-10-10Z" />
        </svg>

        <div class="reset-password-wrapper">
          <h1 class="subtitle">Passwort vergessen</h1>

          <p class="mt-1">Gib deine registrierte E-Mail Adresse ein und drücke "Passwort zurücksetzen".</p>
          <p class="mt-1">Du erhältst anschliessend eine E-Mail mit einem Link um dein Passwort zurückzusetzen.</p>

          <p class="mt-1">Solltest du keine E-Mail erhalten, überprüfe deinen Spam-Ordner.</p>

          <form action="/passwort-vergessen" method="POST" onsubmit="displayLoader()">
            <fieldset class="input-container">
              <input type="email" id="email" name="email" autocomplete="email" placeholder="beispiel@mail.com" required
                autofocus class="login-input">
              <label for="email" class="form-label">E-Mail-Adresse</label>
            </fieldset>
            <button class="rectangle-btn-card mt-2" type="submit">Passwort zurücksetzen</button>
          </form>
        </div>

      </div>

      <!-- link to go back -->
      <div class="text-center mt-2">
        <a href="/login" class="page-navigation-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" class="inline-block-svg">
            <g transform="rotate(180 12 12)">
              <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z" />
            </g>
          </svg>zurück</a>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </div>

  <script>
    function displayLoader() {
      const loader = document.querySelector(".loader");
      loader.classList.remove("loader-hidden");
    }
  </script>
</body>

</html>